{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
{% endblock %}
{% block content %}

<div id="banner" class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Customer unable to be added to the database.
  </h1>
  <div class="govuk-panel__body">
    {{page.errorMessage}} 
  </div>
</div>

<strong>
<a href='/'>Click here to go back to the home screen.</a>
</strong>

<style>

  #banner {
      background: red;
  }

</style>

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
