{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
{% endblock %}

{%block content%}

{% from "govuk/components/panel/macro.njk" import govukPanel %}

{{ govukPanel({
  titleText: "Password Reset Confirmed",
  html: "An email will be sent to you shortly."
}) }}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Notice</span>
    You will be taken back to the login page in <span id='time'>7</span> seconds</br>
    <span id='manual_link'><a href='/'>Click here to go back to home</a></span>
  </strong>
</div>

{%endblock%}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>


  <script>

    const TIMER = document.getElementById('time').innerHTML * 1200;
    setTimeout(function(){
       window.location.href = '/';
    }, TIMER);

    setInterval(() => {
      let time = document.getElementById('time');

      if (time.innerHTML > 0) {
        time.innerHTML = time.innerHTML - 1;
      }
    }, 1100);

  </script>
      
{% endblock %}


