{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">Create Account</h1>

  {%if error%}
  <p id="page-error">There was an error creating a new user.</p>
  {%endif%}
<form id='loginForm' class="govuk-label--l" action='create-user' method="POST">
<h1 class="govuk-heading-l">Staff Username</h1>
  <input class="govuk-input govuk-input--width-20" id='username'type="text" name="username" placeholder="" required="required">
</br>
</br>
<h1 class="govuk-heading-l">Password</h1>
<input class="govuk-input govuk-input--width-20" type="password" name="password" placeholder="" required="required">
</br>
</br>
<button class="govuk-button" data-module="govuk-button" id="login" type="submit">Create Account</button>
</form>

<style>
  #page-error {
    color: red;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-decoration: underline;
    font-weight: bold;
  }
</style>

{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
