{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
{% endblock %}
{% block content %}
  <h1 class="govuk-heading-xl">Attendance Allowance Login</h1>
<form id='loginForm' class="govuk-label--l" action='/user-home' method="POST">
<h1 id='h1-username'class="govuk-heading-l">Staff Username</h1>
  <input class="govuk-input govuk-input--width-20" id='username'type="text" name="username" placeholder="" required="required">
</br>
</br>
<h1 id='h1-password' class="govuk-heading-l">Password</h1>
  <input id='error-i-2' class="govuk-input govuk-input--width-20" type="password" name="password" placeholder="" required="required">
</br>
</br>
<button class="govuk-button" data-module="govuk-button" id="login" type="login">Login</button>
{# <button class="govuk-button" data-module="govuk-button" id="forgot" type="forgot">Forgot Password</button> #}
<a href='forgot-password'><button class="govuk-button" data-module="govuk-button" id="forgot" type="button" formnovalidate>Forgot Password</button>
</a>
</form>
</br>
<a href='create-user'>Temporary - Create a new account</a>
</br>
<a href='/add-customer'>Temporary - Create a new customer</a>


{% if page.error %}

  <p id='error'>There was an error logging in.</p>
  {% if page.activeAccount == false %}

  <p class='error'>Account not activated. Please contact an administrator.</p>
  {% endif %}

  <style>
    #error, .error {
    color: red;
    font-size: 1.2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif,
    text-decoration: underline;
    }

    {# .error {
    color: red;
    font-size: 1.2em;
    } #}

    #error-i-2, #username, #h1-username, #h1-password {
      border-color: red;
      color: red;
      font-family: "Trebuchet MS", Helvetica, sans-serif
    }

  </style>
{%endif%}


{% endblock %}
{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
  {# <script>
        document.getElementById('login').addEventListener('click', function(){
            const user = document.getElementById('username');
            document.getElementById('loginForm').action = 'login/' + user.value;
        });
  </script> #}
{% endblock %}
