{% extends "govuk/template.njk" %}
  {% block head %}
<!--[if !IE 8]><!-->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
{% endblock %}
{% block content %}

<header class="custom-header">
  <span class="account">USER: {{page.username}}</span>
  <span class="signout"><a href="/log-out">Sign Out</a></span>
</header>

<h1 class="govuk-heading-l">Security questions</h1>
<h3 id="nino" class="govuk-heading-l">{{page.nino}}</h2>
<h2 class="govuk-heading-s">Please confirm these details from the customer.</h3>
<p><strong>Customer Forename:</strong> {{page.customerName}}</p>
<p><strong>Customer Surname:</strong> {{page.customerSurname}}</p>
<p><strong>Date of Birth:</strong> {{page.dob}}</p>


<form method='POST' action='/validate-nino/security-questions/{{page.nino}}'>

    <h2 class="govuk-heading-l">{{page.questions.questionOne}}</h2>
    <input type="text" name="answerOne" class="govuk-input govuk-input--width-20" required>
    </br>
    </br>
    <h2 class="govuk-heading-l">{{page.questions.questionTwo}}</h2>
    <input type="text" name="answerTwo" class="govuk-input govuk-input--width-20" required>
    </br>
    </br>
    <h2 class="govuk-heading-l">{{page.questions.questionThree}}</h2>
    <input type="text" name="answerThree" class="govuk-input govuk-input--width-20" required>
    </br>
    </br>
    <button class="govuk-button" data-module="govuk-button" type="submit">Submit</button>
</form>

{%if page.error%}
  <p class="error">There was an error.</p>

  <style>
    .error {
    color: red;
    font-size: 1.2em;
    font-family: "Trebuchet MS", Helvetica, sans-serif
    }

    .govuk-input {
      border-color: red;
    }

  </style>
{%endif%}

<style>
  .custom-header {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 1%;
    right: 16%;
    display: grid;
  }

  .signout a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }

  .signout a:hover {
    text-decoration: underline;
  }

  button {
    margin-top: 15px;
  }
</style>

{% endblock %}
{% block bodyEnd %}
<style>
    #nino {
        text-decoration: underline;
    }
</style>
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
  <script src="/styles/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
